.about-me,
.about-education,
.about-tech-stack {
  padding-bottom: 90px;
}

.about-typing-animation-container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tech-stack-animation-container {
  max-width: 1180px;
}

.about-typing-animation {
  color: var(--neon-green);
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}

.about-me-section {
  display: flex;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  justify-content: space-around;
}

.about-me-photo {
  flex: 1;
  max-width: 20%;
}

.about-me-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.2);
}

.about-me-photo h2 {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  line-height: 35px;
}

.about-me-description {
  flex: 1;
  max-width: 60%;
  font-size: 20px;
  color: white;
  line-height: 40px;
}

.about-me-description h2 {
  margin-top: 0;
}

.about-me-description p {
  margin: 0;
  margin-bottom: 15px;
}

.about-education {
  background-color: #0a0a0a;
}

.about-tech-tack-section {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  background-color: #212121;
  padding: 30px;
  border-radius: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1rem 3rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tech-stack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: white;
  transition: 0.7s all ease;
  cursor: pointer;
}

.tech-stack-container:hover {
  transform: translateY(-10px);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.tech-stack-container img {
  max-width: 55%;
}

.tech-stack-border {
  width: 0%;
  height: 2px;
  background-color: var(--neon-green);
  transition: 0.8s all ease;
}

.tech-stack-container:hover .tech-stack-border {
  width: 95px;
}

@media (hover: hover) {
}

@media screen and (max-width: 1280px) {
  .about-typing-animation-container {
    justify-content: center;
  }

  .about-typing-animation {
    padding: 10px 30px;
  }

  .about-me-section {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .about-me-photo {
    flex: none;
    max-width: none;
    max-width: 350px;
    width: 60%;
  }

  .about-me-description {
    flex: none;
    max-width: none;
    width: 80%;
    max-width: 800px;
    font-size: 19px;
    padding-left: 10px;
  }

  .about-me-description h2 {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .about-typing-animation-container {
    height: 150px;
  }

  .about-me-description {
    font-size: 18px;
  }

  .about-me,
  .about-education {
    padding-bottom: 60px;
  }
}
