.navbar {
  /* background-color: #212121; */
  background-color: black;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-header h1 {
  color: white;
  font-size: 1.3rem;
  margin: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  transition: 0.4s all ease;
}

.navbar-header h1:hover {
  color: var(--neon-green);
}

.navber-menu {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 1.5rem;
}

.navbar-menu-item {
  list-style-type: none;
  padding: 22px 15px;
  color: white;
  font-weight: bold;
  transition: 0.4s all ease;
  border-bottom: 2px solid transparent;
  /* background-color: red; */
}

.navbar-menu-item:hover {
  border-bottom: 2px solid var(--neon-green);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  color: var(--neon-green);
}

.navbar-menu-item-active {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  color: var(--neon-green);
}

.navbar-menu-section-mobile {
  display: none;
}

.mobile-menu-container {
  display: none;
}

@media screen and (max-width: 1280px) {
  .navbar {
    padding: 10px;
    padding-left: 25px;
  }

  .navbar-menu-section {
    display: none;
  }

  .navbar-menu-section-mobile {
    display: block;
  }

  .mobile-menu-bar {
    color: white;
    font-size: 25px;
    padding: 15px 20px;
  }

  .mobile-menu-container {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    z-index: 999;
    border-top: 0.5px dotted white;
  }

  .animated-show {
    animation: show-menu 0.4s forwards;
  }

  .animated-hide {
    animation: hide-menu 0.4s forwards;
  }

  @keyframes show-menu {
    from {
      opacity: 0;
      transform: translateY(-2%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes hide-menu {
    from {
      opacity: 1;
      transform: translateY(0%);
    }
    to {
      opacity: 0;
      transform: translateY(-2%);
    }
  }

  .mobile-menu {
    padding-left: 43px;
    color: white;
  }

  .mobile-menu-item {
    list-style-type: "\2757";
    text-indent: 5px;
    padding: 15px 5px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 5px;
    padding-left: 18px;
  }

  .navbar-header h1 {
    font-size: 1rem;
  }

  .mobile-menu-bar {
    font-size: 20px;
    padding: 15px;
  }

  .mobile-menu {
    padding-left: 35px;
  }

  .mobile-menu-item {
    font-size: 15px;
  }
}
