:root {
  --neon-green: #39ff14;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  -webkit-overflow-scrolling: touch; /* 스크롤 부드럽게 처리 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.animation {
  opacity: 0;
  animation: flash 0.7s 0.2s forwards;
}

.animation-slow {
  opacity: 0;
  animation: flash 1s 1.1s forwards;
}

.animated-show {
  animation: show-menu 0.4s forwards;
}

.animated-tech-stack {
  animation: show-modal 0.4s forwards;
}

.animated-show-bg {
  animation: show-menu-bg 0.4s forwards;
}

.animated-hide {
  animation: hide-menu 0.4s forwards;
}

.animated-hide-tech-stack {
  animation: hide-modal 0.4s forwards;
}

.animated-hide-bg {
  animation: hide-menu-bg 0.4s forwards;
}

@keyframes show-menu {
  from {
    opacity: 0;
    transform: translateY(-2%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes show-modal {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show-menu-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide-menu {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-2%);
  }
}

@keyframes hide-modal {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes hide-menu-bg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes flash {
  to {
    opacity: 1;
  }
}
