:root {
  --neon-green: #39ff14;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  -webkit-overflow-scrolling: touch; /* 스크롤 부드럽게 처리 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.animation {
  opacity: 0;
  animation: flash 0.7s 0.2s forwards;
}

.animation-slow {
  opacity: 0;
  animation: flash 1s 1.1s forwards;
}

@keyframes flash {
  to {
    opacity: 1;
  }
}
